{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}


{% block title %}Acceuil{% endblock %}

{% block body %}
    <a href="{{ path('app_logout') }}">Disconnect</span></a>
{% endblock %}