<div class="search">
    {% include 'composants/menu.html.twig' %}

  <form action="{{ path( 'homepageStaff') }}" method="GET" class="forsearch">
    <input type="text" placeholder="Rechercher" name="search" id="search" class="form-control searchBar mr-2">
    <input type="submit" value="Rechercher" class="btn btn-primary">
  </form>
</div>