<link rel="stylesheet" href="css/searchBar.css">

<div class="search">
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Patients </a>
            <a class="dropdown-item" href="#">Séjours</a>
            <a class="dropdown-item" href="#">Personnel</a>
        </div>
    </div>

    <input type="text" placeholder="Rechercher" class="form-control searchBar mr-2">

    <button class="btn btn-lg btn-primary" type="submit">Rechercher</button>

</div>