<div class="search">
    {% include 'composants/menu.html.twig' %}

  <form action="{{ path( 'homepageStay' ) }}" method="GET" class=" d-flex flex-row">
    <input type="text" placeholder="Rechercher" name="service" id="service" class="form-control searchBar mr-2">
    <input type="submit" value="Rechercher" class="btn btn-primary">
  </form>
</div>